* {
  padding: 0;
  margin: 0;
}

.App {
  height: 100vh;
}

/* .Navbar {
  height: 8%;
} */

.Navbar nav {
  height: 100% !important;
}

.Jumbotron {
  height: 80vh;
  padding: 20px;
  background: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80") no-repeat center center;
  background-size: cover;
}

.Social-Media .Item {
  height: 50px;
}

.Social-Media .Item img {
  height: 80%;
  display: block;
}

.Profile {
  background-color: rgba(255, 255, 255, 0.90);
  padding: 30px;
  border-radius: 10px;
  width: 100%;
}

.Profile-Image {
  height: 100px;
}

.Profile-Image img {
  border-radius: 100px;
  height: 100%;
}

.Content {
  /* height: 60%; */
  padding: 20px;
}

.Content .Post {
  /* width: 50%; */
}

.card-image {
  max-width: 348px;
  height: 198px;
}